.drops{
    color: white;
}

*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}

/* Dropdown */
nav{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.menu{
    display: inline-block;
}
.menu .dropdown{
    margin-left: 10px;
}
.dropdown{
    display: inline-block;
    background-color: transparent;
    color: black;
}
.dropdown button{
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
    z-index: 10;       /*  Z-index to show buttons on top of the content*/
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: rgb(118, 199, 231);
    text-decoration:underline;
    text-decoration-color: darkblue;
}
.dropdown a:hover{
    background-color: lightblue;
}
.dropdown:active button {
    background-color: rgb(118, 199, 231);
    text-decoration:underline;
    text-decoration-color: darkblue;
}

.active{
    background-color: rgb(118, 199, 231);
}
.whatspop{
    position: absolute;
    left: 1320px;
    bottom: 30px;
}
.info{
    border: 2px solid transparent;
    border-radius: 5px;
    width: 310px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 5px;
    margin-left: 6px;
    background-color: #f3e8d8;
    color: black;
    margin-top: 50px;
}